<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <!-- Common Head -->
    <head>
        <th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
    </head>
    
    <body id="page-top">
        <!-- Wrapper -->
        <div id="wrapper">
            
            <!-- Menu/SideBar -->
            <th:block th:replace="/layout/fragments/sidebar :: sidebarFragment"></th:block>
            
            <div id="content-wrapper" class="d-flex flex-column">
            
                <!-- Header -->
                <th:block th:replace="/layout/fragments/header :: headerFragment"></th:block>
                
                <!-- Content -->
                <th:block layout:fragment="content"></th:block>
                
                <!-- Footer -->
                <th:block th:replace="/layout/fragments/footer :: footerFragment"></th:block>
                
            </div>
            
        </div>
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Common Script -->
        <th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
    </body>
    
</html>