<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- 공통으로 쓰이는 script 파일을넣는다.-->
    <th:block th:fragment="scriptFragment">
        
        <!-- index.html 관련 script -->
        <script src="/publish/main/assets/js/jquery.min.js"></script>
        <script src="/publish/main/assets/js/browser.min.js"></script>
        <script src="/publish/main/assets/js/breakpoints.min.js"></script>
        <script src="/publish/main/assets/js/util.js"></script>
        <script src="/publish/main/assets/js/main.js"></script>
    </th:block>
     
</html>