<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
    <!-- Menu -->
    <th:block th:fragment="sidebarFragment">
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="login.html">Login / Join</a></li>
                <li><a href="generic.html">Share Pic</a></li>
                <li><a href="generic.html">Setting</a></li>
                <!-- <li><a href="elements.html">Elements</a></li> -->
            </ul>
        </nav>
    </th:block>
</html>