<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" >  <!-- 최신 SpringBoot 에서는 layout:decorate="~{layout/layout}" 으로 사용 -->

    <head>
        <title>Lee Project</title>
    </head>
    
    <!-- Main -->
    <th:block layout:fragment="content">
    
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Project</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-6">

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><a th:href="@{/drawingBoard}">Basic JS Drawing Board</a></h6>
                        </div>
                        <div class="card-body">
                            Java Script를 사용해 만들어본 간단한 그림판
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">...</h6>
                        </div>
                        <div class="card-body">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.container-fluid -->
    
    </th:block>  
    
</html>